<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.java.scanner.controller"
          xmlns:android="http://schemas.android.com/apk/res/android">
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />  
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />  
    <uses-permission android:name="android.permission.CAMERA"/>
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainScreen" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity android:name=".MainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Time_attendance" android:screenOrientation="portrait"/>        
        <activity android:name=".PictureTaking" android:screenOrientation="portrait"/>
        <activity android:name=".ProjectsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".RemarksActivity" android:screenOrientation="portrait"/>
        <activity android:name=".LogsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".DtrActivity" android:screenOrientation="portrait"/>        
        <activity android:name=".ViewCheck" android:screenOrientation="portrait"/>
        <activity android:name=".AfterTaking" android:screenOrientation="portrait"/>
        <activity android:name=".AppSettings" android:screenOrientation="portrait"/>

    </application>
<supports-screens android:resizeable="true" />
</manifest>
